.button {

}

.button:hover {
    -fx-background-color: #2980b9;
}

.button:pressed {
    -fx-background-color: #2471a3;
    -fx-translate-y: 2;     /* 向下移动2像素 */
    -fx-scale-x: 0.98;      /* 水平缩小2% */
    -fx-scale-y: 0.98;      /* 垂直缩小2% */
}