.title-label {
    -fx-font-size: 2.7em;
    -fx-font-family: 'Arial Black';
    -fx-font-weight: bold;
    -fx-text-fill: #0C1B3A;
}
.subtitle-label {
    -fx-font-size: 1.25em;
    -fx-text-fill: #0C1B3A;
}
.main-title {
    -fx-font-size: 3.5em;
    -fx-font-family: 'Arial Black';
    -fx-font-weight: bold;
    -fx-text-fill: #0C1B3A;
    -fx-padding: 1em 0 1em 0;
}
.card-title {
    -fx-font-size: 2em;
    -fx-text-fill: #1b264f;
    -fx-font-weight: bold;
    -fx-padding: 0 0 1em 0;
}
.card-box {
    -fx-background-color: #fff;
    -fx-background-radius: 38;
    -fx-border-radius: 38;
    -fx-border-width: 2;
    -fx-border-color: #e7e8ee;
    -fx-effect: dropshadow(gaussian, #e7e8ee, 18, 0.18, 0, 3);
}
.big-delete-btn {
    -fx-pref-height: 3.2em;
    -fx-pref-width: 12em;
    -fx-font-size: 2em;
    -fx-background-color: #F55849;
    -fx-background-radius: 36;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #e7e8ee, 18, 0.15, 0, 3);
}
.medium-action-btn {
    -fx-pref-width: 150px;
    -fx-pref-height: 42px;
    -fx-background-color: #5977AE;
    -fx-background-radius: 50px;
    -fx-text-fill: #fff;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #e7e8ee, 8, 0.10, 0, 2);
    -fx-cursor: hand;
    -fx-border-color: transparent;
}
.text-field, .combo-box, .text-area {
    -fx-background-radius: 20;
    -fx-font-size: 18px;
}
.button {
    -fx-background-color: #5977AE;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 50px;
    -fx-pref-width: 150;
    -fx-pref-height: 42;
}
